<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">


</div>
  <body>
    
    <!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='static/main.css' />
    
    <head>
      <a href= "status.html"> </a>
        <button class="grey">status</button> 
      </a href= "data.html"> </a>
        <button class>Data</button>
  
    <!--  Load JavaScript in Flask with html-->
      <!-- <script>
        alert("Page has been loaded successfully")
      </script> -->
      </head>
    <h1>Corendon</h1>
    <p>Project FYS</p>
  </body>
</html>