<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
    <html>
    <head>
    <meta content="text/html; charset=ISO-8859-1"
    http-equiv="content-type">
    <title>Ultrasonic data</title>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
    </head>
    <body>
    <table>
      <caption> Distance and timestamp </caption>
    <tr><th>Timestamp</th><th>Distance</th></tr><tr><td>2023-04-11 15:50:30</td><td>82.8705</td></tr><tr><td>2023-04-11 15:50:31</td><td>82.7209</td></tr><tr><td>2023-04-11 15:51:15</td><td>82.8112</td></tr><tr><td>2023-04-11 15:51:16</td><td>108.649</td></tr><tr><td>2023-04-11 15:51:17</td><td>82.525</td></tr><tr><td>2023-04-11 15:51:18</td><td>82.6902</td></tr><tr><td>2023-04-11 15:51:19</td><td>87.3102</td></tr><tr><td>2023-04-11 15:51:20</td><td>82.7495</td></tr><tr><td>2023-04-11 15:52:58</td><td>7.20624</td></tr>
    </table>
    </body>
    </html>
    